* {
  border: 1px solid blueviolet;
}
body {
  background: blanchedalmond;
  margin: 0;
  text-align: center;
}
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.b {
  min-height: 60vh;
  flex-grow: 3;
  padding: 10px, 5px;
  margin: 5px;
}
.a,
.c {
  min-height: 20vh;
  padding: 10px, 5px;
  margin: 10px;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100%;
  }
  .b {
    width: 60%;
  }
}
